
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen Mono', monospace;
}

body {
    min-height: 100vh;
    background-color: #161b1d;
    display: grid;
    place-items: center;
}

.calculadora {
    background-color: #aec74a;
    color: #000;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    
}

.pantalla {
    grid-column: 1 / -1;
    background-color: #aec74a;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-size: 2.5em;
    font-weight: 600;
    
}

.btn {
    background-color: #aec74a;;
    color: #000;
    font-size: 1.5em;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    font-family: 'Oxygen Mono', monospace;
    
}

.btn:hover {
    background-color: #090c31;
    color: #aec74a;
    font-weight: bold;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: #9bb140;
    /*#090c31*/
    color: #090c31;
    font-size: 1.6em;
    font-weight: bold;
}

#igual:hover {
    background-color: #090c31;
    color: #c05217;
}